h1 Hello #{name}
p Thank you for participating
p Responses:
p Name: #{name}
p Email: #{email}

p Profile: #{profile}
p Debt Ratio: #{debtIncomeRatio.debtRatio}
p Income Ratio: #{debtIncomeRatio.incomeRatio}
p DIR Health: #{debtIncomeRatio.health}